header{
    width: 390px;
    height: 71px;
    background-color: #883c82;
}


.container{
    width: 390px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



.input{
    width: 319px;
    height: 44px ;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #a2738c;
}

.btnAgree{
    background-color: #883c82;
    color: #ffbf00;
    border: 4px solid #a2738c;
    border-radius: 10px;
    width: 177px;
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.user{
    position: relative;
    width: 35px;
    
}

.listNames{
    width: 319px;
    height: 200px ;
    border:1px solid black;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    /* border-bottom: 1px solid #a2738c; */

}