.imgGame {
    position: absolute;
    width: 390px;
    height: 527px;
    left: 35%;
    top: -60px;
    transform: translateX(-50%);
    z-index: 1;
    /* display: none; */
}
.containerInfo {
    width: 51px;
    height: 44px;
    border: 3px solid var(--borderColor);;
    border-radius: 10px;
   position: absolute;
   top: 625px;
   left: 225px;
}
.titleStatus {
    font-size: 16px;
    color: var(--pText);
    font-weight: 500;
    position: absolute;
    top: 40px;

}
.containerInfo2 {
    width: 51px;
    height: 44px;
    border: 3px solid var(--borderColor);;
    border-radius: 10px;
    position: absolute;
    top: 625px;
    left: 115px;
}
.btnGame {
    width: 196px;
    height: 50px;
    background-color: var(--mainColor);
    border: 4px solid var(--borderColor);;
    border-radius: 10px;
    color:var( --buttonText);
    font-weight: bold;
    position: absolute;
    right: -20px;
    top:110px;
}
  
.starYellow {
    position: absolute;
    z-index: 9; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
  }

/* .container1 {
    width: 100%;
    background-color: aqua;
    height: 20%;
} */
  