@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --mainColor: #883c82;
    --pText: #737373;
    --buttonText: #ffbf00;
    --borderColor: #a2738c;
    --white: #FFFF;
    --black: #000;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 77px;
    background-color: var(--mainColor);
}
.mainImg{
    width: 100%;
    height: 264px;
}
.paragraphMain{
   font-size: 24px;
   color: var(--pText);
   padding: 38px 30px;
}
.button{
     display: flex;
     justify-content: center;
     text-decoration: none;
     cursor: pointer;
}
.btnStart{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: var(--mainColor);
    border: 3px solid var(--borderColor);
    color: var( --buttonText);
    font-weight: bold;
    justify-content: center;
    font-size: 20px;
    cursor:pointer;
}
footer{
    height: 83px;
    width: 100%;
    background-color: var(--mainColor);
    margin-top: 45px;
}
.copyright{
    color: var(--white);
    text-align: center;
    padding: 30px;
}