svg.telescope {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
  }

svg.telescope g.lens {
    animation: starGaze 6s ease-in-out infinite alternate;
  }

@keyframes starGaze {
    0%,
    30% {
      transform: rotate(-15deg);
    }
    60%,
    100% {
      transform: rotate(-50deg);
    }
  }