.container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.input{
    width: 80%;
    height: 44px ;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid var(--borderColor);
}
.btnAgree{
    background-color: var(--mainColor);
    color: var( --buttonText);
    border: 4px solid var(--borderColor);;
    border-radius: 10px;
    width: 177px;
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.user{
    position: relative;
    width: 35px;
    
}

.listNames{
    width: 80%;
    height: 248px;
    max-height: 248px;
    overflow-y: auto;
    padding: 1px 2px;
    border-left: 2px solid var(--black);
    border-top: 2px solid var(--black);
    border-right: 2px solid  var(--pText);
    border-bottom: 1px solid var(--borderColor);;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    color: var(--pText);
    padding: 10px;
    width: 170px;
    border-bottom: 1px solid var(--black);
    text-align: center;
}
.deleteButton {
    width: 27px;
    height: 27px;
    cursor: pointer;
}
li .deleteButton {
    margin-left: 10px;
    margin-bottom: -5px; 
  }
.buttonPlay{
    height: 50px;
    background-color: var(--mainColor);
    border: 3px solid var(--borderColor);;
    color: var( --buttonText);
    width: 324px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}