.imgLogo {
  width: 95px;
  margin: 5px;
  cursor:pointer;
}
.navBurger {
  position: fixed;
  z-index: 4;
  text-decoration: none;
  width: 390px;
  height: 315px;
  background-image: url(/images/menuBackground.png);
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px 25px;
  top: -400px;
  transition: top 0.8s ease-in-out;
}
.liButton {
  padding-top: 0px;
  width: 324px;
  height: 50px;
  border: none;
}
.buttonMenu {
  background-color: var(--mainColor);
  border: 3px solid var(--borderColor);
  color: var(--buttonText);
  width: 324px;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  transform: translateY(100%);
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burgerMenuClose,
.burgerMenuOpen {
  width: 50px;
  height: 42px;
  border: 3px solid var(--borderColor);
  background-color: var(--buttonText);
  border-radius: 10px;
  color: var(--mainColor);
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burgerMenuClose{
  border-radius: 50%;
  width: 43px;
  display: none;
}

.burgerMenuOpen.close {
  display: none;
}



